@model DomSvilajnac.Models.Ucenik

@{
    ViewBag.Title = "Upis novog učenika";
}

<h2>Upis novog učenika</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Ime učenika", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Prezime učenika", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Prezime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Prezime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Datum rođenja", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DatumRodjenja, new { htmlAttributes = new { @class = "form-control", @placeholder = "Format: dd.mm.gggg.(npr. 21.03.1997.)" } })
                @Html.ValidationMessageFor(model => model.DatumRodjenja, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Ime oca", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OtacIme, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OtacIme, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Prezime oca", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OtacPrezime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OtacPrezime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Nivo obrazovanja oca", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownListFor(m => m.OtacObrazovanje, new List<SelectListItem>
                {
                    new SelectListItem{ Text="1. nivo", Value = "1", Selected = true},
                    new SelectListItem{ Text="2. nivo", Value = "2" },
                    new SelectListItem{ Text="3. nivo", Value = "3" },
                    new SelectListItem{ Text="4. nivo", Value = "4" },
                    new SelectListItem{ Text="5. nivo", Value = "5" },
                    new SelectListItem{ Text="6. nivo", Value = "6" },
                    new SelectListItem{ Text="7. nivo", Value = "7" },
                    new SelectListItem{ Text="8. nivo", Value = "8" },
                } , new { @class = "control-label col-md-2" })*@ 
                @Html.EditorFor(model => model.OtacObrazovanje, new {htmlAttributes = new {@class = "form-control", @placeholder = "Format: npr. za sedmi nivo samo: 7"}})
                @Html.ValidationMessageFor(model => model.OtacObrazovanje, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Ime majke", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MajkaIme, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MajkaIme, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Prezime majke", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MajkaPrezime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MajkaPrezime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Nivo obrazovanja majke", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MajkaObrazovanje, new { htmlAttributes = new { @class = "form-control", @placeholder = "Format: npr. za sedmi nivo samo: 7" } })
                @Html.ValidationMessageFor(model => model.MajkaObrazovanje, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Mesto rođenja", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MestoRodjenja, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MestoRodjenja, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Opstina rođenja", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OpstinaRodjenja, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OpstinaRodjenja, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Država rođenja", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DrzavaRodjenja, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DrzavaRodjenja, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Datum useljenja", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DatumUseljenja, new { htmlAttributes = new { @class = "form-control", @placeholder = "Format: dd.mm.gggg.(npr. 21.03.1997.)" } })
                @Html.ValidationMessageFor(model => model.DatumUseljenja, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Broj sobe", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BrojSobe, new { htmlAttributes = new { @class = "form-control", @placeholder = "Format: samo broj sobe, na primer: 14" } })
                @Html.ValidationMessageFor(model => model.BrojSobe, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Broj u matičnoj knjizi", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BrojUMatKnjizi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BrojUMatKnjizi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Adresa boravka", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdresaBoravka, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AdresaBoravka, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Mobilni telefon", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MobTelefon, new { htmlAttributes = new { @class = "form-control", @placeholder = "Format: bez crtica: 0631234987 " } })
                @Html.ValidationMessageFor(model => model.MobTelefon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Fiksni telefon", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FiksniTelefon, new { htmlAttributes = new { @class = "form-control", @placeholder = "Format: bez crtica: 0112345987 " } })
                @Html.ValidationMessageFor(model => model.FiksniTelefon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Datum napuštanja", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DatumNapustanja, new { htmlAttributes = new { @class = "form-control", @placeholder = "Format: dd.mm.gggg.(npr. 21.03.1997.)" } })
                @Html.ValidationMessageFor(model => model.DatumNapustanja, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Razlog napuštanja", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RazlogNapustanja, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RazlogNapustanja, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Škola", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Skola, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Skola, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Obrazovni profil(Smer za gimnazije)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ObrazovniProfil, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ObrazovniProfil, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Razred", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Razred, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Razred, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Odeljenje", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Odeljenje, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Odeljenje, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Telefon škole", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TelefonSkole, new { htmlAttributes = new { @class = "form-control", @placeholder = "Format: bez crtica: 0112345987 " } })
                @Html.ValidationMessageFor(model => model.TelefonSkole, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Odeljenski starešina", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OdeljenskiStaresina, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OdeljenskiStaresina, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Opšti uspeh u prethodnom razredu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UspehPreRazred, new { htmlAttributes = new { @class = "form-control", @placeholder = "Format: 5.00" } })
                @Html.ValidationMessageFor(model => model.UspehPreRazred, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Interesovanja ili hobi učenika", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InteresovanjaHobi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InteresovanjaHobi, "", new { @class = "text-danger" })
            </div>
        </div>
        <h3>Učešće u radu sekcija, klubova, društava i dr.</h3>
        <div class="form-group">
            @Html.Label("a) U domu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UcesceDom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UcesceDom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("b) U školi", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UcesceSkola, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UcesceSkola, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("c) U gradu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UcesceGrad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UcesceGrad, "", new { @class = "text-danger" })
            </div>
        </div>
        <h3>Pohvale, nagrade i osvojena mesta na takmičenjima do trećeg mesta</h3>
        <div class="form-group">
            @Html.Label("a) U domu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PohvaleDom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PohvaleDom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("b) U školi", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PohvaleSkola, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PohvaleSkola, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("c) Ostale pohvale", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PohvaleOstalo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PohvaleOstalo, "", new { @class = "text-danger" })
            </div>
        </div>
        <h3>Disciplinske mere:</h3>
        <div class="form-group">
            @Html.Label("Opomena", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MeraOpomena, new { htmlAttributes = new { @class = "form-control", @placeholder = "DA ili NE" } })
                @Html.ValidationMessageFor(model => model.MeraOpomena, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Ukor", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MeraUkor, new { htmlAttributes = new { @class = "form-control", @placeholder = "DA ili NE" } })
                @Html.ValidationMessageFor(model => model.MeraUkor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Ukor pred isključenje iz doma", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UkorPredIskljucenje, new { htmlAttributes = new { @class = "form-control", @placeholder = "DA ili NE" } })
                @Html.ValidationMessageFor(model => model.UkorPredIskljucenje, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Isključenje iz doma", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IskljucenjeIzDoma, new { htmlAttributes = new { @class = "form-control", @placeholder = "DA ili NE" } })
                @Html.ValidationMessageFor(model => model.IskljucenjeIzDoma, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sačuvaj novog učenika" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Nazad na listu učenika", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
