@model DomSvilajnac.Models.Ucenik

@{
    ViewBag.Title = "Brisanje učenika";
}

<h2>Brisanje učenika</h2>

<h3>Da li ste sigurni da želite da obrišete ovog učenika?</h3>
<div>
    <h4></h4>
    <hr />
    <div class="row">
        @Html.Label("Ime učenika", htmlAttributes: new { @class = "control-label col-md-6" })



        <span class="podatak">@Html.DisplayFor(model => model.Ime)</span>
    </div>

    <div class="row">
        @Html.Label("Prezime učenika", htmlAttributes: new { @class = "control-label col-md-6" })



        <span class="podatak">@Html.DisplayFor(model => model.Prezime)</span>
    </div>

    <div class="row">
        @Html.Label("Datum rođenja", htmlAttributes: new { @class = "control-label col-md-6" })



        <span class="podatak">@Html.DisplayFor(model => model.DatumRodjenja)</span>
    </div>

    <div class="row">
        @Html.Label("Nosilac starateljstva", htmlAttributes: new { @class = "control-label col-md-6" })



        <span class="podatak">@Html.DisplayFor(model => model.NosilacStarateljstva)</span>
    </div>
    <div class="row">
        @Html.Label("Ime staratelja", htmlAttributes: new { @class = "control-label col-md-6" })



        <span class="podatak">@Html.DisplayFor(model => model.StarateljIme)</span>
    </div>
    <div class="row">
        @Html.Label("Prezime staratelja", htmlAttributes: new { @class = "control-label col-md-6" })



        <span class="podatak">@Html.DisplayFor(model => model.StarateljPrezime)</span>
    </div>

    <div class="row">
        @Html.Label("Nivo obrazovanja staratelja", htmlAttributes: new { @class = "control-label col-md-6" })



        <span class="podatak">@Html.DisplayFor(model => model.NivoObrazovanja)</span>
    </div>


    <div class="row">
        @Html.Label("Mesto rođenja", htmlAttributes: new { @class = "control-label col-md-6" })



        <span class="podatak">@Html.DisplayFor(model => model.MestoRodjenja)</span>
    </div>

    <div class="row">
        @Html.Label("Opština rođenja", htmlAttributes: new { @class = "control-label col-md-6" })



        <span class="podatak">@Html.DisplayFor(model => model.OpstinaRodjenja)</span>
    </div>

    <div class="row">
        @Html.Label("Država rođenja", htmlAttributes: new { @class = "control-label col-md-6" })



        <span class="podatak">@Html.DisplayFor(model => model.DrzavaRodjenja)</span>
    </div>

    <div class="row">
        @Html.Label("Datum upisa", htmlAttributes: new { @class = "control-label col-md-6" })



        <span class="podatak">@Html.DisplayFor(model => model.DatumUpisa)</span>
    </div>

    <div class="row">
        @Html.Label("Broj u matičnoj knjizi", htmlAttributes: new { @class = "control-label col-md-6" })



        <span class="podatak">@Html.DisplayFor(model => model.BrojUMatKnjizi)</span>
    </div>

    <div class="row">
        @Html.Label("Adresa boravka", htmlAttributes: new { @class = "control-label col-md-6" })



        <span class="podatak">@Html.DisplayFor(model => model.AdresaBoravka)</span>
    </div>

    <div class="row">
        @Html.Label("Telefon", htmlAttributes: new { @class = "control-label col-md-6" })



        <span class="podatak">@Html.DisplayFor(model => model.Telefon)</span>
    </div>



    <div class="row">
        @Html.Label("Škola", htmlAttributes: new { @class = "control-label col-md-6" })



        <span class="podatak">@Html.DisplayFor(model => model.Skola)</span>
    </div>

    <div class="row">
        @Html.Label("Obrazovni profil(Smer za gimnazije)", htmlAttributes: new { @class = "control-label col-md-6" })



        <span class="podatak">@Html.DisplayFor(model => model.ObrazovniProfil)</span>
    </div>

    <div class="row">
        @Html.Label("Razred", htmlAttributes: new { @class = "control-label col-md-6" })



        <span class="podatak">@Html.DisplayFor(model => model.Razred)</span>
    </div>
</div>
<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obriši" class="btn btn-danger" /> |
            @Html.ActionLink("Nazad na listu učenika", "Index", null, new { @class="back" })
        </div>
    }
</div>
