@model DomSvilajnac.Models.Ucenik

@{
    ViewBag.Title = "Izmena učenika";
}

<h2>Izmena učenika @Model.Ime @Model.Prezime </h2>


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "ucenikForma" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4></h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.Label("Ime učenika", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Ime, new { htmlAttributes = new { @class = "form-control", @required = "true" } })
            @Html.ValidationMessageFor(model => model.Ime, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Prezime učenika", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Prezime, new { htmlAttributes = new { @class = "form-control", @required = "true" } })
            @Html.ValidationMessageFor(model => model.Prezime, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("JMBG učenika", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.JMBG, new { htmlAttributes = new { @required="true", @class = "form-control", @maxlength = "13" } })
            @Html.ValidationMessageFor(model => model.JMBG, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Datum rođenja", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DatumRodjenja, new { htmlAttributes = new { @required = "true", @class = "form-control", @placeholder = "Format: dd.mm.gggg.(npr. 21.03.1997.)" } })
            @Html.ValidationMessageFor(model => model.DatumRodjenja, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Datum upisa", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DatumUpisa, new { htmlAttributes = new { @required = "true", @class = "form-control", @placeholder = "Format: dd.mm.gggg.(npr. 21.03.1997.)" } })
            @Html.ValidationMessageFor(model => model.DatumUpisa, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Nosilac starateljstva", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.LabelFor(model => model.NosilacStarateljstva, "Otac", new { @required = "true" })
            @Html.RadioButtonFor(model => model.NosilacStarateljstva, "Otac", new { @required = "true" })
            @Html.LabelFor(model => model.NosilacStarateljstva, "Majka", new { @required = "true" })
            @Html.RadioButtonFor(model => model.NosilacStarateljstva, "Majka", new { @required = "true" })
            @Html.LabelFor(model => model.NosilacStarateljstva, "Staratelj", new { @required = "true" })
            @Html.RadioButtonFor(model => model.NosilacStarateljstva, "Staratelj", new { @required = "true" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Ime staratelja", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StarateljIme, new { htmlAttributes = new { @required = "true", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StarateljIme, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Prezime staratelja", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StarateljPrezime, new { htmlAttributes = new { @required = "true", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StarateljPrezime, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Nivo obrazovanja staratelja", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NivoObrazovanja, new { htmlAttributes = new { @required = "true", @class = "form-control", @placeholder = "Unesite broj od 1-8" } })
            @Html.ValidationMessageFor(model => model.NivoObrazovanja, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Mesto rođenja", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MestoRodjenja, new { htmlAttributes = new { @required = "true", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MestoRodjenja, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Opština rođenja", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.OpstinaRodjenja, new { htmlAttributes = new { @required = "true", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OpstinaRodjenja, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Država rođenja", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DrzavaRodjenja, new { htmlAttributes = new { @required = "true", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DrzavaRodjenja, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Broj u matičnoj knjizi", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BrojUMatKnjizi, new { htmlAttributes = new { @required = "true", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BrojUMatKnjizi, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Mesto boravka", htmlAttributes: new { @required = "true", @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MestoBoravka, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MestoBoravka, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.Label("Adresa boravka", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AdresaBoravka, new { htmlAttributes = new { @required = "true", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AdresaBoravka, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Telefon", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Telefon, new { htmlAttributes = new { @required = "true", @class = "form-control", @placeholder = "Format: bez crtica: 0631234987 " } })
            @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.Label("Škola", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Skola, new { htmlAttributes = new { @required = "true", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Skola, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Obrazovni profil(Smer za gimnazije)", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ObrazovniProfil, new { htmlAttributes = new { @required = "true", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ObrazovniProfil, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Razred", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Razred, new { htmlAttributes = new { @placeholder = "1-4", @required = "true", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Razred, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Sačuvaj izmene" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Nazad na listu učenika", "Index", null, new { @class="back" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Ucenik/validacijaUcenika.js")
}
